{% extends 'layout/layout.html' %} {% block content %}
<div class="d-flex flex-column align-items-center">
    <div class="card my-3 w-50 border border-3 border-black rounded-5">
        <div class="card-body">
            <h1>{{ post.title }}</h1>
            <hr class="my-4" style="height: 2px; border-width: 0; background-color: black;" />
            <p>{{ post.content }}</p>
            <hr class="my-4" style="height: 2px; border-width: 0; background-color: black;" />
            <p>Created by: <a href="{% url 'user_profile' post.created_by.id %}">{{ post.created_by.username }}</a> on
                {{ post.created_at }}</p>
            <hr class="my-4" style="height: 2px; border-width: 0; background-color: black;" />
            {% if post.created_by.id == user.id %}
            <div class="d-flex align-items-center justify-content-between">
                <form action="{% url 'delete_post' post.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger my-3">Delete Post</button>
                </form>
                {% endif %}
                <a href="{% url 'list_post' %}">Back to posts</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}