# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Virtual Environment and Python Packaging
.venv/
env/
env3.9/
.Python
build/
develop-eggs/
dist/
downloads/s
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
poetry.toml

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.cache
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/
docs/site/

# Mypy cache
.mypy_cache/

# OS-specific files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Editor-specific files
.idea/
.python-version
.vscode/*

# Django-specific files
*.log
*.pot
local_settings.py
db.sqlite3

# Environment variables
.env

node_modules